/*
  MAIN RULES FOR CSS STYLESHEET
*/

.container {
    width: 1170px;
    margin: auto;
}

body {
    background-color: #007AA6 !important;
}


/************************************/


/*
    AdreNaline TeaM ADMIN PANEL
  */

.heading {
    text-align: center;
    margin: 150px 0 50px;
    font-size: 30px;
    color: rgb(8, 35, 54);
}

.span1 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(64, 155, 212);
}

.span1 span {
    color: white;
}

.span2 {
    font-size: 35px;
    color: rgba(64, 155, 212, 0.5);
    letter-spacing: 7px;
    margin-left: 7px;
    text-transform: uppercase;
}

hr {
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
    color: rgb(8, 35, 54);
}


/************************************/


/*
    USERNAME INPUT
  */

.user {
    width: 300px;
    display: table;
    padding: 15px 20px;
    margin: auto;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0 none;
    border-left: 2px solid rgb(0, 18, 30);
    border-right: 2px solid rgb(0, 18, 30);
    background-color: rgb(8, 35, 54);
    color: rgb(113, 127, 136);
}


/************************************/


/*
    PASSWORD INPUT
  */

.pass {
    width: 300px;
    display: table;
    padding: 15px 20px;
    margin: 20px auto;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0 none;
    border-left: 2px solid rgb(0, 18, 30);
    border-right: 2px solid rgb(0, 18, 30);
    background-color: rgb(255, 255, 255);
    color: rgb(113, 127, 136);
    border-radius: 30px !important;
}


/************************************/


/*
    USERNAME & PASSWORD INPUTS :hover
  */

.user:hover,
.pass:hover {
    border-left: 2px solid rgb(64, 155, 212);
    border-right: 2px solid rgb(64, 155, 212);
    color: rgb(64, 155, 212);
}


/************************************/


/*
    USERNAME & PASSWORD INPUTS :focus
  */

.user:focus,
.pass:focus {
    border-left: 5px solid rgb(64, 155, 212);
    border-right: 5px solid rgb(64, 155, 212);
    color: rgb(64, 155, 212);
    background-color: rgb(0, 18, 30);
    width: 350px;
    border-radius: 5px;
    transition: .6s;
}


/************************************/


/*
    USERNAME & PASSWORD INPUTS
    :not(focus)
  */

.user:not(focus),
.pass:not(focus) {
    transition: .6s;
}


/************************************/

.remdiv {
    width: 300px;
    margin: auto;
}

.remcheck {
    margin-top: 4px;
    margin-left: -20px;
    float: left;
}

.remcheck:hover {
    cursor: pointer;
}

.remspan {
    color: rgb(113, 127, 136);
}

.remcheck:checked+.remspan {
    color: rgb(64, 155, 212);
    transition: .6s;
}

.remcheck:not(checked)+.remspan {
    color: rgb(113, 127, 136);
    transition: .6s;
}

.forgot {
    float: right;
    margin-right: -20px;
    color: rgb(113, 127, 136);
    text-transform: capitalize;
    font-style: italic;
}

.forgot:hover {
    color: rgb(113, 127, 136);
    text-decoration: underline;
    cursor: pointer;
}

.submit {
    display: table;
    margin: 40px auto;
    padding: 10px 0 10px 0;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    /* background-color: rgb(8, 35, 54);
    color: rgb(113, 127, 136); */
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    border: 5px none rgb(0, 18, 30);
    border-radius: 30px !important;
}

.submit:hover {
    border-left: 5px solid rgb(64, 155, 212);
    border-right: 5px solid rgb(64, 155, 212);
    border-radius: 5px;
    width: 90px;
    cursor: pointer;
    color: rgb(64, 155, 212);
    background-color: rgb(0, 18, 30);
    transition: .2s;
}

.submit:not(hover) {
    color: rgb(113, 127, 136);
    border: 5px none rgb(0, 18, 30);
    transition: .6s;
}

.bydiv {
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    color: rgba(64, 155, 212, 0.5);
    text-transform: capitalize;
    margin: 150px 0 30px;
}

.fb {
    margin: 50px auto;
    width: 64px;
    height: 64px;
    background-image: url(https://f.top4top.net/p_554k4q7r1.png);
    background-repeat: no-repeat;
    background-color: #00121E;
}

.socialhr {
    margin: 70px auto -84px;
}

.fb:hover {
    cursor: pointer;
    background-image: url(https://a.top4top.net/p_554ogib32.png);
}